:root {
    --timer: rgba(5, 98, 197, 0.885);
    --title: rgb(245, 245, 245);
    --buttons: rgb(122, 80, 235);
}

body{
    background-image: url("assets/city_bg.gif");
    font-family: 'Special Elite', cursive;
}

.pomodoro_header{
    font-family: 'Special Elite', cursive;
    text-emphasis-style: bold;
}

#heading{
    font-size: 100px;
}

.container{
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 10px;
    text-align: center;
    color: var(--title);
    font-size: 10vw;
    text-align: center;
}

/* For the glass morphic design, a website called 'Glassmorphism' was used. 
That's where the segment below came from */
.glass{
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    transition: 0.5s all ease;
    width: 100%;
    background: rgba( 185, 188, 194, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.474);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

.modeSelector_Button{
    width: 30%;
    height: 140px;
    justify-content: space-around;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size:xx-large;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}


.modeSelector_Button.active {
    border: 8px solid var(--buttons);
}

.timer{
    font-weight: 340;
    font-size: 12vw;
    font-family: 'Bodoni Moda', serif;
}

.play_stop{
    font-size: 5vw;
}


/* Responsiveness */

@media (max-width: 700px){

    .title{
        top: 15px;
        font-size: 20vw;
    }
    
    .glass {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    
      .modeSelector {
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
        align-items: center;
      }
    
      .modeSelector__Button {
        margin: 5px;
        font-size: 1rem;
      }
    
      .timer {
        color: var(--timer);
        font-weight: 500;
        font-size: 20vw;
      }
    
      .play_stop {
        width: 80%;
        font-size: 3rem;
      }
    }
